// Bootstrap
$primary: #ffffff;
$secondary: #446844;

// Custom
$text-white: #ffffff;
$text-black: #333333;
$text-green: #446844;
$text-brown: #460000;
$text-blue: #1D026A;
$text-purple: #6882C3;
$text-light-green: #84BE89;