.woocommerce div.product form.cart .button,
.woocommerce ul.products li.product .button {
    font-weight: normal;
    text-transform: uppercase;
    @include transition(ease, 0.2s);
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button:hover,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.single_add_to_cart_button {
    background: linear-gradient(97.71deg, #CBFFC7 -22.36%, #7FAE7B 102.86%);
    border-radius: 4px;
    text-align: center;

    &:hover,
    &:focus {
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.19);
    }
}

.woocommerce {
    .col-1,
    .col-2 {
        max-width: none;
    }
}

.woocommerce {
    form {
        .form-row {
            label {
                width: 100%;
            }
        }
    }
}

.woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: #BC2848 !important;
}

#reviews.cr-reviews-ajax-reviews .cr-qna-search-icon,
.cr-all-reviews-shortcode .cr-qna-search-icon,
#cr_qna.cr-qna-block div.cr-qna-search-block .cr-qna-search-icon {
    fill: $primary !important;
}

#cr_qna.cr-qna-block .cr-input-text,
.cr-ajax-search input[type="text"] {
    border-radius: .375rem !important;
}

#cr_qna.cr-qna-block .cr-input-text:focus,
.cr-ajax-search input[type="text"]:focus {
    border-radius: .375rem !important;
    box-shadow:  0 0 1px $primary !important;
}

.cr-qna-block div.cr-qna-search-block button.cr-qna-ask-button {
    background-color: $primary !important;
    border-radius: 3px !important;

    &:hover,
    &:focus {
        background-color: $secondary !important;
        color: $text-white !important;
    }
}

#cr_qna.cr-qna-block div.cr-qna-new-q-overlay .cr-qna-new-q-form .cr-qna-new-q-form-s button.cr-qna-new-q-form-s-b.cr-q-active {
    background-color: $primary !important;

    &:hover,
    &:focus {
        background-color: $secondary !important;
        color: $text-white !important;
    }
}

.cr-review-card-content {
    visibility: visible !important;
    border-color: #ebebeb !important;
    border: 1px solid;
    border-radius: 10px;
}

.woocommerce .star-rating::before,
.woocommerce .star-rating span::before {
    color: #FFD707 !important;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
    background: radial-gradient(74.7% 74.7% at 50% 50%, #FFFFFF 0%, rgba(227, 227, 227, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #E2E2E2 !important;
    box-shadow: 10px 8px 21px rgba(0, 0, 0, 0.19);
    border-radius: 34px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.woocommerce-loop-product__link {
    width: 100% !important;
    float: left !important;
    background: radial-gradient(74.7% 74.7% at 50% 50%, #FFFFFF 0%, rgba(227, 227, 227, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #E2E2E2 !important;
    box-shadow: 10px 8px 21px rgba(0, 0, 0, 0.19);
    border-radius: 34px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-bottom: 15px;

    &:hover,
    &:focus {
        @include transform-scale(1.05);
    }
}

.woocommerce div.product div.images img,
.woocommerce ul.products li.product a img {
    max-width: 146px !important;
    margin: 0 0 auto !important;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    text-transform: uppercase;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    &::before,
    &::after {
        border-bottom: none;
    }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background: radial-gradient(97.38% 140.49% at 54.79% 41.2%, rgba(231, 255, 237, 0.81) 0%, rgba(143, 186, 155, 0.81) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: none;
    color: $text-green;
    text-transform: uppercase;
    @include transition(ease, 0.3s);

    &:hover,
    &:focus {
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.19);
    }

    &::before,
    &::after {
        display: none;
    }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.19);
    border-bottom: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background: radial-gradient(97.38% 140.49% at 54.79% 41.2%, rgba(231, 255, 237, 0.81) 0%, rgba(143, 186, 155, 0.81) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs .panel {
    background: linear-gradient(77.38deg, rgb(243, 243, 243) 10.07%, rgb(255, 255, 255) 70.32%);
    box-shadow: rgba(0, 0, 0, 0.19) 10px 8px 21px;
    border-radius: 0 0 34px 34px;
    padding: 30px;
}

.add_to_cart_button {
    width: 100% !important;
    float: left !important;
}

.product_title {
    color: $text-blue !important;
    text-shadow: none !important;
}

.price {
    @include font-size(1.6rem);
}